:root {
    --color-yellow: #EEED5C;
    --color-dark-grey: #4d4d4d;
}

.dm-mono-light {
    font-family: "DM Mono", monospace;
    font-weight: 300;
    font-style: normal;
}

.dm-mono-regular {
    font-family: "DM Mono", monospace;
    font-weight: 400;
    font-style: normal;
}

.dm-mono-medium {
    font-family: "DM Mono", monospace;
    font-weight: 500;
    font-style: normal;
}

:root {
    --header_ratio: 1669 / 339;
}
* {
    padding: 0;
    margin: 0;
}
html, body {
    color: #fff;
    font-family: "DM Mono", sans-serif;
    font-size: 16px;
    line-height: 1.2;
    counter-reset: section;
    overflow: hidden;
    cursor: none;
}
.cursor-mb {
    position: fixed;
    top: 25px;
    left: 8vw;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #dadada;
    pointer-events: all;
    transform: translate(-50%, -50%);
    display: none;
    z-index: 100000;
    visibility: hidden; 
    opacity: 0;
    transition: opacity 0.15s ease-in-out 0.35s;
}
.cursor-mb .cursor-close-line-1 {
    position: absolute;
    background: var(--color-dark-grey);
    opacity: 1;
    height: 2px;
    width: 0%;
    top: 65%;
    left: 42%;
    transform: rotate(45deg) translate(-50%, -50%);
}
.cursor-mb .cursor-close-line-2 {
    position: absolute;
    background: var(--color-dark-grey);
    top: 30%;
    left: 45%;
    opacity: 1;
    height: 2px;
    width: 0%;
    transform: rotate(-45deg) translate(-50%, -50%);
}
.cursor {
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #dadada;
    z-index: 100000;
    pointer-events: none;
    opacity: 1;
    transition: width 0.1s ease-in-out, height 0.1s ease-in-out;
    transform: translate(-50%, -50%);
}
.cursor .cursor-horizontal-line {
    background: var(--color-dark-grey);
    position: relative;
    height: 2px;
    width: 0%;
    top: 50%;
    left: 50%;
    transform: rotate(-34deg) translate(-100%, -50%);
    opacity: 0;
    transition: width 0.35s ease-in-out, rotate 1s ease-in-out, translate 1.2s ease-in-out;
}
.cursor .cursor-vertical-line {
    background: var(--color-dark-grey);
    position: relative;
    width: 2px;
    height: 0%;
    top: 46%;
    left: 50%;
    opacity: 0;
    transform: rotate(-34deg) translate(-100%, -50%);
    transition: height 0.35s ease-in-out, rotate 1s ease-in-out, translate 0.5s ease-in-out;
}
.cursor .cursor-close-line-1, .cursor .cursor-close-line-2 {
    opacity: 0;
    position: relative;
    background: var(--color-dark-grey);
    height: 2px;
    width: 0%;
}
.cursor .cursor-close-line-1 {
    top: 45%;
    left: 42%;
}
.cursor .cursor-close-line-2 {
    top: 5%;
    left: 45%;
}
.cursor .cursor-close-line-1.show {
    opacity: 1;
    width: 50%;
    top: 45%;
    left: 42%;
    transform: rotate(45deg) translate(-50%, -50%);
    transition: width 0.35s ease-in-out, rotate 1s ease-in-out;
}
.cursor .cursor-close-line-2.show {
    opacity: 1;
    width: 50%;
    transform: rotate(-45deg) translate(-50%, -50%);
    transition: width 0.35s ease-in-out, rotate 1s ease-in-out;
}
.cursor .cursor-arrow-line-1 {
    top: 50%;
    left: 50%;
}
.cursor .cursor-arrow-line-2 {
    top: 50%;
    left: 50%;
}
.cursor .cursor-arrow-line-1, .cursor .cursor-arrow-line-2, .cursor .cursor-arrow-line-3 {
    opacity: 0;
    position: relative;
    background: var(--color-dark-grey);
    height: 2px;
    width: 0%;
}
.cursor .cursor-arrow-line-1 {
    top: 47%;
    left: 50%;
}
.cursor .cursor-arrow-line-2 {
    top: 24%;
    left: 42%;
}
.cursor .cursor-arrow-line-3 {
    top: 51%;
    left: 42%;
}
.cursor .cursor-arrow-line-1.show {
    opacity: 1;
    width: 50%;
    transition: width 0.35s ease-in-out, rotate 1s ease-in-out;
}
.cursor .cursor-arrow-line-2.show {
    opacity: 1;
    width: 35%;
    transform: rotate(45deg);
    transition: width 0.35s ease-in-out, rotate 1s ease-in-out;
}
.cursor .cursor-arrow-line-3.show {
    opacity: 1;
    width: 35%;
    transform: rotate(-45deg);
    transition: width 0.35s ease-in-out, rotate 1s ease-in-out;
}
#overlay {
    position: fixed !important;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
}
.overlay-line {
    background-color: #c5c5c521;
    position: fixed;
    z-index: 10000;
}
.horizontal-line-1 {
    height: 1px;
    width: 100%;
    top: 30%;
}
.horizontal-line-2 {
    height: 1px;
    width: 100%;
    top: 70%;
}
.vertical-line-1 {
    height: 100%;
    width: 1px;
    left: 20%;
}
.vertical-line-2 {
    height: 100%;
    width: 1px;
    left: 65%;
}
main {
    height: 100vh;
    width: 100%;
    /*
    background-image: radial-gradient(ellipse farthest-corner at -40% 45%, rgb(227 229 117 / 45%), rgb(166 73 237 / 35%), rgb(60 91 149 / 83%)), linear-gradient(97deg, rgb(0 0 0 / 90%) 0%, rgba(18, 18, 18, 0.9) 5%), url(./images/noise_lt.svg);
    background-image: radial-gradient(ellipse farthest-corner at -40% 45%, rgb(227 229 117 / 45%), rgb(133 89 197 / 64%), rgb(247 223 106 / 83%)), linear-gradient(97deg, rgb(0 0 0 / 90%) 0%, rgba(18, 18, 18, 0.9) 5%), url(./images/noise_lt.svg);
    background-image: radial-gradient(ellipse farthest-corner at -40% 45%, rgb(249 233 152 / 85%), rgb(133 89 197 / 94%), rgb(249 233 152 / 93%)), linear-gradient(97deg, rgb(0 0 0 / 90%) 0%, rgba(18, 18, 18, 0.9) 5%), url(./images/noise_lt.svg);
    background-size: 180%, 100%, 40%;
 
    background-blend-mode: color-dodge;
    background-image: radial-gradient(ellipse farthest-corner at -40% 45%, rgba(18, 18, 18, 0.5), rgb(180 147 249 / 35%), rgba(18, 18, 18, 0.9)), linear-gradient(187deg, rgb(208 187 253 / 90%) 0%, rgba(18, 18, 18, 0.9) 65%), url(./images/noise_lt.svg);
    background-image: radial-gradient(ellipse farthest-corner at -40% 45%, rgb(249 233 152 / 85%), rgb(133 89 197 / 94%), rgb(249 233 152 / 93%)), linear-gradient(97deg, rgb(0 0 0 / 90%) 0%, rgba(18, 18, 18, 0.9) 5%), url(./images/noise_lt.svg);
    
    background-image: radial-gradient(ellipse farthest-corner at -40% 45%, rgba(0, 0, 0, 0.86), rgba(0, 0, 0, 0.94));
    */
    background-blend-mode: color-dodge;
    background-color: #1a1a1a;
    overflow: hidden;
}
.header-logo {
    position: relative;
    width: calc(100% - 40px);
    left: 20px;
    margin: 0 auto;
    height: auto;
    z-index: 100;
}
.content {
    display: flex;
    flex-direction: row;
    gap: 64px;
    justify-content: space-between;
    padding: 0 32px;
    margin-top: 48px;
    position: relative;
    overflow: hidden;
}
.about {
    display: flex;
    flex-direction: column;
    gap: 6px;
    align-self: flex-end;
    width: 20%;
    padding-bottom: 24px;
}
.star {
    position: absolute;
    top: 0;
    width: 220px;
    animation-name: spin;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes spin {
    0% {
        transform: scale(1) translateY(0%) rotate(0deg);
    }
    25% {
        transform: scale(0.75) translateY(10%) rotate(17deg);
    }
    50% {
        transform: scale(1) translateY(20%) rotate(26deg);
    }
    75% {
        transform: scale(0.85) translateY(10%) rotate(19deg);
    }
    100% {
        transform: scale(1) translateY(0%) rotate(0deg);
    }
}

@keyframes spin-small {
    0% {
        transform: scale(1) translateY(0%) rotate(0deg);
    }
    20% {
        transform: scale(0.75) translateY(5%) rotate(-17deg);
    }
    40% {
        transform: scale(1) translateY(10%) rotate(-26deg);
    }
    60% {
        transform: scale(0.75) translateY(5%) rotate(-19deg);
    }
    80% {
        transform: scale(0.85) translateY(10%) rotate(-11deg);
    }
    100% {
        transform: scale(1) translateY(0%) rotate(0deg);
    }
}

.star-small {
    position: absolute;
    top: 55%;
    left: 15%;
    width: 80px;
    animation-name: spin-small;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.work {
    width: 45%;
}
.info {
    width: 35%;
}
.header {
    margin-bottom: 24px;
    font-size: 20px;
}
.projects {
    overflow-y: scroll;
    --header_height: calc(100vw / 9.3);
    --projects_height: calc(100vh - var(--header_height));
    height: calc(var(--projects_height) - 90px);
    padding-right: 16px;
}
.projects::-webkit-scrollbar {
    width: 4px;
}
.projects::-webkit-scrollbar-track {
    background: #fff;
}
.projects::-webkit-scrollbar-thumb {
    background: #8a8a8a;
}
.project {
    margin-bottom: 24px;
    padding-bottom: 16px;
    border-bottom: 1px solid #d3d3d359;
}
.project .detail {
    margin-top: 4px;
    opacity: 0;
    transform: translateY(-20px) rotate(-2deg);
}
.project .description {
    margin-top: 16px;
}
.project-image {
    position: fixed;
    aspect-ratio: 520 / 300;
    object-fit: cover;
    width: 33vw;
    right: -33%;
    bottom: 0;
    object-position: left;
    background-size: cover;
    transition: all 0.25s ease-in-out;
}
.socials {
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.social__link {
    color: #fff;
    text-decoration: none;
    cursor: none;
    width: fit-content;
}
.social__link:hover {
    color: #c78ffc;
    color: #e4e4e4;
    color: var(--color-yellow);
}
.detail {
    opacity: 0;
    height: 0;
}
.project:hover {
    color: #e4e4e4;
    color: var(--color-yellow);
}
.project:hover > .project-image {
    transform: translateX(-100%);
}
.project:hover h3 {
    color: var(--color-yellow);
}
.project:hover .detail {
    color: var(--color-yellow);
    opacity: 1;
    height: auto;
    transform: translateY(0px) rotate(0deg);
    transition: all 0.2s ease-in;
}
.project:hover .detail svg path {
    fill: #dadada;
    fill: var(--color-yellow);
}
h3 {
    font-size: 16px;
}
h3 span {
    font-weight: 400;
}
.project-title::before {
    counter-increment: section;
    content: "00" counter(section) " ";
}
.show {
    visibility: visible;
    opacity: 1;
    transform: rotate(0deg) translate(-50%, -50%);
}
.cursor .cursor-horizontal-line.show {
    opacity: 1;
    width: 50%;
    transform: rotate(0deg) translate(-50%, -50%);
}
.cursor .cursor-vertical-line.show {
    opacity: 1;
    height: 50%;
    transform: rotate(0deg) translate(-50%, -50%);
}
.cursor-hover-state {
    width: 40px;
    height: 40px;
}
.footer-logo {
    display: none;
}
.details {
    overflow-y: scroll;
    position: fixed;
    width: 75vw;
    height: 100vh;
    background-color: #1a1a1a;
    left: 100vw;
    top: 0;
    z-index: 10000;
    transition: transform 0.5s cubic-bezier(1, 0, 0.2, 1);
}
.preview {
    display: none;
    position: relative;
    padding: 32px;
}
.preview.active {
    display: block;
}
.preview-image-wrapper {
    overflow: hidden;
    position: relative;
}
.preview-image {
    position: relative;
    width: 100%;
    height: 100%;
    aspect-ratio: 2;
    background-size: contain;
    background-repeat: no-repeat;
}
.preview-image__overlay {
    position: absolute;
    top: 0;
    left: -2px;
    height: 100%;
    width: 110%;
    transform: translate(0%, 0%);
    transition: transform 0.5s cubic-bezier(0.65, 0.05, 0.36, 1) 0.7s;
    background-color: #1a1a1a;
}
.preview-image__overlay.active {
    transform: translate(0%, 110%);
}
.preview-content {
    margin-top: 24px;
    display: flex;
    flex-direction: row;
    gap: 32px;
}
.preview-header {
    margin-bottom: 16px;
}
.preview-link {
    font-weight: bold;
    color: #fff;
    font-size: 16px;
    margin-bottom: 0;
    cursor: none;
}
.preview-link-mobile:hover, .preview-link:hover {
    color: var(--color-yellow);
}
.preview-link-mobile {
    display: none;
}

.preview-services {
    width: 20%;
}
.preview-outline {
    width: 30%;
}
.preview-client {
    width: 50%;
}

.preview-link {
    transform: translate(0%, -20px);
    opacity: 0;
    transition: opacity 0.5s ease-in-out 0.8s, transform 0.5s ease-in-out 0.8s, color 0.15s ease-in-out 0s;
}

.preview-image__text {
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: 48px;
    line-height: 48px;
    font-weight: 500;
    font-family: "DM Mono", sans-serif;
    opacity: 0;
    transform: translate(0, 60px);
    transition: all 0.35s ease-in-out 0.5s;
}
.preview-image__text.active {
    opacity: 1;
    transform: translate(0, 0);
}

.preview-services .preview-header {
    opacity: 0;
    transform: translate(0%, -10px);
    transition: all 0.35s ease-in-out 0.8s;
}
.preview-outline .preview-header {
    opacity: 0;
    transform: translate(0%, -10px);
    transition: all 0.35s ease-in-out 0.9s;
}
.preview-client .preview-header {
    opacity: 0;
    transform: translate(0%, -10px);
    transition: all 0.35s ease-in-out 1s;
}
.preview-description .preview-header {
    opacity: 0;
    transform: translate(0%, -10px);
    transition: all 0.35s ease-in-out 1.1s;
}
.preview-description {
    margin-top: 20px;
}

.preview-services .preview-paragraph {
    opacity: 0;
    transform: translate(0%, -10px);
    transition: all 0.35s ease-in-out 0.8s;
    display: flex;
    flex-direction: column;
}
.preview-outline .preview-paragraph {
    opacity: 0;
    transform: translate(0%, -10px);
    transition: all 0.35s ease-in-out 0.9s;
}
.preview-client .preview-paragraph {
    opacity: 0;
    transform: translate(0%, -10px);
    transition: all 0.35s ease-in-out 1s;
}
.preview-description .preview-description-content {
    opacity: 0;
    transform: translate(0%, -10px);
    transition: all 0.35s ease-in-out 1.1s;
}

.preview-services .preview-header.active {
    opacity: 1;
    transform: translate(0%, 0%);
}
.preview-outline .preview-header.active {
    opacity: 1;
    transform: translate(0%, 0%);
}
.preview-client .preview-header.active {
    opacity: 1;
    transform: translate(0%, 0%);
}
.preview-description .preview-header.active {
    opacity: 1;
    transform: translate(0%, 0%);
}

.preview-services .preview-paragraph.active {
    opacity: 1;
    transform: translate(0%, 0%);
}
.preview-outline .preview-paragraph.active {
    opacity: 1;
    transform: translate(0%, 0%);
}
.preview-client .preview-paragraph.active {
    opacity: 1;
    transform: translate(0%, 0%);
}
.preview-description .preview-description-content.active {
    opacity: 1;
    transform: translate(0%, 0%);
}
.preview-link.active {
    opacity: 1;
    transform: translate(0%, 0%);
}
.details-overlay {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
}
.details-overlay.active {
    right: 0;
    pointer-events: all;
}
.details.active {
    transform: translateX(-100%);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.preview-services, .preview-client, .preview-outline, .preview-description {
    position: relative;
}
.preview-description-content {
    display: flex;
    flex-direction: column;
    gap: 32px;
}
body.lock {
    position: fixed;
}
.preview-video {
    position: relative;
    width: 100%;
    height: auto;
}
@media screen and (max-width: 1280px){
    .star {
        width: 150px;
    }
    .star-small {
        top: 30%;
        left: 12%;
        width: 60px;
    }
}
@media screen and (max-width: 1024px){
    html, body, main {
        overflow: visible;
        cursor: auto;
        font-size: 14px;
    }
    main {
        height: 100%;
    }
    .cursor {
        display: none;
    }
    .overlay-line {
        display: none;
    }
    .content {
        gap: 20px;
        flex-direction: column;
        padding: 0 20px 32px;
    }
    .about, .work, .contact {
        width: 100%;
    }
    h3 {
        font-size: 14px;
    }
    .projects {
        overflow: visible;
        height: fit-content;
        padding: 0;
    }
    .star {
        right: 0;
    }
    .star-small {
        top: 27%;
        left: unset;
        width: 60px;
        right: 0;
    }
    .project-image {
        display: none;
    }
    .project .description {
        margin-top: 10px;
    }
    .header-logo {
        position: relative;
        width: 80%;
        margin: 20px auto 0;
        height: auto;
        left: 50%;
        transform: translateX(-50%);
    }
    .footer-logo {
        display: block;
        position: relative;
        padding-bottom: 32px;
        width: 220px;
        height: auto;
        left: 50%;
        transform: translateX(-50%);
    }
    .preview-content {
        flex-direction: column;
    }
    .preview-services, .preview-client, .preview-outline, .preview-description {
        width: 100%;
    }
    .preview-link {
        margin-top: 24px;
        font-size: 14px;
        display: none;
    }
    .preview-link-mobile {
        display: block;
        font-size: 14px;
        position: absolute;
        right: 0px;
        top: 0px;
        font-weight: bold;
        color: #fff;
        font-size: 14px;
        cursor: none;
    }
    .preview-description {
        margin-top: 32px;
    }
}
@media screen and (max-width: 768px){ 
    .preview-image__text {
        bottom: 4px;
        left: 4px;
        font-size: 24px;
        line-height: 24px;
    }
    .details {
        width: 92vw;
    }
    .preview {
        padding: 20px;
    }
    .cursor-mb {
        display: block;
    }
    .cursor-mb.active {
        visibility: visible;
        opacity: 1;
    }
    .cursor-mb.active .cursor-close-line-1, .cursor-mb.active .cursor-close-line-2 {
        width: 50%;
        transition: width 0.25s ease-in-out 0.35s;
    }
}

.bg-cursor {
    display: none;
    position: absolute;
    width: 30vw;
    height: 30vh;
    background: radial-gradient(rgba(255, 198, 92, 0.877), rgba(255, 198, 92, 0.568), transparent);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    mix-blend-mode: hard-light;
    filter: blur(60px);
    opacity: 0;
    visibility: visible;
    pointer-events: none;
    transition: opacity 4s ease-out;
}

.bg-cursor.show {
    opacity: 0.4;
}